/* table of contents in sections*/
* {
  box-sizing: border-box;
}

.jumbotron {
  text-align: center;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid {
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#website-photo {
  height: auto;
  width: 500px;
  float: left;
  margin-right: 40px;
  border-color: black;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

#photo-credit {
  color: black;
}
p#bio {
  text-align: center;
  margin-top: 0px;
  margin-right: 0%;
  padding: 20px;
}

h1.header {
  text-align: center;
}

#portfolio-section {
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.col {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.col a {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* For ipad: */
  .col {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 414px) {
  /* For mobile iphone plus phones: */
  .col {
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 375px) {
  /* For mobile iphone x phones: */
  .col {
    flex: 100%;
    max-width: 100%;
  }
}
