/* table of contents in sections*/
* {
  box-sizing: border-box;
}

.jumbotron {
  text-align: center;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid {
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#website-photo {
  height: auto;
  width: 500px;
  float: left;
  margin-right: 40px;
  border-color: black;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

#photo-credit {
  color: black;
}
p#bio {
  text-align: center;
  margin-top: 0px;
  margin-right: 0%;
  padding: 20px;
}

h1.header {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: auto;
  margin-right: auto;
}

.col {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin: 10px;
}

.col img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Blur-zoom Container */
.img-hover-zoom {
  overflow: hidden;
  height: 200px;
  width: 100%;
}
.img-hover-zoom--blur img {
  transition: transform 1s, filter 1s ease-in-out;
  filter: blur(2px);
  transform: scale(1.2);
}

/* The Transformation */
.img-hover-zoom--blur:hover img {
  filter: blur(0);
  transform: scale(1);
}

img#project1 {
  height: 150px;
  margin: 2px;
}
img#burgerapp {
  height: 150px;
  margin: 2px;
}
img#notetakerapp {
  height: 150px;
  overflow: hidden;
}
img#summary-app {
  height: 150px;
  overflow: hidden;
}
img#tracker-app {
  height: 150px;
  overflow: hidden;
}

footer.page-footer {
  background: rgba(0, 0, 0, 0.562);
  color: #fff;
}
@media only screen and (max-width: 768px) {
  /* For ipad: */
  .col {
    display: block;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 414px) {
  /* For mobile iphone plus phones: */
  .col {
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 375px) {
  /* For mobile iphone x phones: */
  .col {
    flex: 100%;
    max-width: 100%;
  }
}
