/* table of contents in sections*/

.jumbotron {
  text-align: center;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid {
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#website-photo {
  height: auto;
  width: 500px;
  float: left;
  margin-right: 40px;
  border-color: black;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

#photo-credit {
  color: black;
}
p#bio {
  text-align: center;
  margin-top: 0px;
  margin-right: 0%;
  padding: 20px;
}

h1.header {
  text-align: center;
}

#portfolio-section {
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  /* For mobile iphone plus phones: */
  [class*="col-"] {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  /* For mobile iphone x phones: */
  [class*="col-"] {
    width: 100%;
  }
}
