footer.page-footer {
  background: rgba(0, 0, 0, 0.562);
  height: 20%;
  color: #fff;
  text-align: center;
}
.footer-copyright {
  text-align: center;
}
i.fa {
  margin-top: 10px;
  font-size: 90px;
  width: 80px;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-github {
  color: black;
}
ul {
  margin-left: 0%;
  margin-right: 0%;
}
